body{
    height: 1200px;
}
img.img1{
    height: 600px;

}
img.img2{
    height: 600px;

}
img.img3{
    height: 600px;

}
div.box1{
    display: flex;
    justify-content: center;
    align-items: center;

}
div.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
a.search{
    text-decoration: none;
    color: white;
}